h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 4.0rem !important;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  --s: 0.1em;   
  --c: red; 
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
h1:hover {
  --_p: 100%;
  color: red
}
p {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  text-align: justify;
}

a {
  font-family: "Montserrat";
  color: red;
}

.divider {
  border: 2px solid red; 
  opacity: 1;
  margin: 40px 0;
}